$black: #151515;
$teal: #3F8A7F;
$green: #989F66;
$yellow: #EFE3A0;
$white: #FFFFFF;

body {
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background-color: $black;
    color: $white;
    h1 {
        margin-top: 0.8rem;
        margin-left: 4rem;
        justify-content: flex-start;
    }
    > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        div {
            font-size: 18px;
            color: $white;
            margin: 1rem;
        }
    }
}
footer {
    background-color: $teal;
    height: 4rem;
    display: flex;
    justify-content: center;
    > div {
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 15%;
    }
}