$black: #141E27;
$blue: #203239;
$brown: #9f9466;
$yellow: #E0DDAA;
$white: #EEEEEE;

body {
    font-family: 'Cormorant', serif;
}
header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background-color: $black;
    color: $white;
    h1 {
        margin-top: 0.8rem;
        margin-left: 4rem;
        justify-content: flex-start;
    }
    > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        div {
            font-size: 20px;
            color: $white;
            margin: 1rem;
            .nav-link {
                text-decoration: none;
                color: $white;
            }
        }
    }
}
footer {
    background-color: $blue;
    color: $white;
    height: 4rem;
    display: flex;
    justify-content: center;
    > div {
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 15%;
        .nav-link {
            text-decoration: none;
            color: $white;
        }
    }
}