$black: #141E27;
$blue: #203239;
$brown: #9f9466;
$yellow: #E0DDAA;
$white: #EEEEEE;

body {
    font-family: 'Cormorant Garamond', serif;
}
header {
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
    width: 100%;
    background-color: $black;
    color: $white;
    h1 {
        display: flex;
        margin-top: 0.8rem;
        margin-left: 4rem;
        justify-content: center;
    }
    > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2rem;
        div {
            font-size: 1.25rem;
            margin: 1rem;
            color: $white;
            .nav-link {
                text-decoration: none;
                color: $white;
            }
        }
    }
    @media screen and (max-width: 600px) {
        h1 {
            margin-left: 0;
        }
        > div {
            margin-right: 0;
        }
    }
}
footer {
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 100%;
    background-color: $blue;
    color: $white;
    > div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 16px;
        font-size: 1.25rem;
        width: 15%;
        .nav-link {
            text-decoration: none;
            color: $white;
        }
    }
}
@media only screen and (max-width: 481.6px) {
    header {
        flex-direction: column;
        justify-content: center;
        > div {
            justify-content: center;
        }
    }
}