body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}
body.blue main section:nth-of-type(1) {
  background-color: #1D5596;
}
body.blue main section:nth-of-type(1) .primary-div-right .text-container p {
  background-color: #3E87DA;
  box-shadow: 0 0 8px #3E87DA;
}
body.blue main section:nth-of-type(1) .secondary-div > div {
  border: 1px solid #94BCEB;
}
body.blue main section:nth-of-type(1) .secondary-div > div > span {
  background-color: #1D5596;
}
body.blue main section:nth-of-type(3) .primary-div-right .text-container h4 {
  border-bottom: 1px solid #1D5596;
}
body.blue main section:nth-of-type(3) .primary-div-right .text-container > div, body.blue main section:nth-of-type(3) .primary-div-right .text-container > p {
  background-color: #3E87DA;
  box-shadow: 0 0 8px #3E87DA;
}
body.blue main section {
  background-color: #1D5596;
}
body.blue main section .primary-div-left {
  box-shadow: 0 0 16px #3E87DA;
}
body.blue main section .primary-div-left .image-container {
  box-shadow: inset 0 0 8px #3E87DA;
}
body.blue main section .primary-div-left #option-container {
  box-shadow: 0 0 16px #3E87DA;
}
body.blue main section .primary-div-left #option-container .quantity-text {
  background-color: #3E87DA;
}
body.blue main section .primary-div-left #option-container .quantity-option {
  background-color: #94BCEB;
}
body.blue main section .primary-div-left #option-container .quantity-option > button:hover {
  background-color: #0C2543;
}
body.blue main section .primary-div-right {
  box-shadow: 0 0 16px #3E87DA;
}
body.blue main section .primary-div-right .image-container {
  box-shadow: inset 0 0 8px #3E87DA;
}
body.blue main section .li-separator {
  border: 0.5px solid #94BCEB;
}
body.red main section:nth-of-type(1) {
  background-color: #920d16;
}
body.red main section:nth-of-type(1) .primary-div-right .text-container p {
  background-color: #d1232f;
  box-shadow: 0 0 8px #d1232f;
}
body.red main section:nth-of-type(1) .secondary-div > div {
  border: 1px solid #F58F96;
}
body.red main section:nth-of-type(1) .secondary-div > div > span {
  background-color: #920d16;
}
body.red main section:nth-of-type(3) .primary-div-right .text-container h4 {
  border-bottom: 1px solid #920d16;
}
body.red main section:nth-of-type(3) .primary-div-right .text-container > div, body.red main section:nth-of-type(3) .primary-div-right .text-container > p {
  background-color: #d1232f;
  box-shadow: 0 0 8px #d1232f;
}
body.red main section {
  background-color: #920d16;
}
body.red main section .primary-div-left {
  box-shadow: 0 0 16px #d1232f;
}
body.red main section .primary-div-left .image-container {
  box-shadow: inset 0 0 8px #d1232f;
}
body.red main section .primary-div-left #option-container {
  box-shadow: 0 0 16px #d1232f;
}
body.red main section .primary-div-left #option-container .quantity-text {
  background-color: #d1232f;
}
body.red main section .primary-div-left #option-container .quantity-option {
  background-color: #F58F96;
}
body.red main section .primary-div-left #option-container .quantity-option > button:hover {
  background-color: #380A0D;
}
body.red main section .primary-div-right {
  box-shadow: 0 0 16px #d1232f;
}
body.red main section .primary-div-right .image-container {
  box-shadow: inset 0 0 8px #d1232f;
}
body.red main section .li-separator {
  border: 0.5px solid #F58F96;
}
body.orange main section:nth-of-type(1) {
  background-color: #DE6202;
}
body.orange main section:nth-of-type(1) .primary-div-right .text-container p {
  background-color: #FD9648;
  box-shadow: 0 0 8px #FD9648;
}
body.orange main section:nth-of-type(1) .secondary-div > div {
  border: 1px solid #FED1AE;
}
body.orange main section:nth-of-type(1) .secondary-div > div > span {
  background-color: #DE6202;
}
body.orange main section:nth-of-type(3) .primary-div-right .text-container h4 {
  border-bottom: 1px solid #DE6202;
}
body.orange main section:nth-of-type(3) .primary-div-right .text-container > div, body.orange main section:nth-of-type(3) .primary-div-right .text-container > p {
  background-color: #FD9648;
  box-shadow: 0 0 8px #FD9648;
}
body.orange main section {
  background-color: #DE6202;
}
body.orange main section .primary-div-left {
  box-shadow: 0 0 16px #FD9648;
}
body.orange main section .primary-div-left .image-container {
  box-shadow: inset 0 0 8px #FD9648;
}
body.orange main section .primary-div-left #option-container {
  box-shadow: 0 0 16px #FD9648;
}
body.orange main section .primary-div-left #option-container .quantity-text {
  background-color: #FD9648;
}
body.orange main section .primary-div-left #option-container .quantity-option {
  background-color: #FED1AE;
}
body.orange main section .primary-div-left #option-container .quantity-option > button:hover {
  background-color: #3d1302;
}
body.orange main section .primary-div-right {
  box-shadow: 0 0 16px #FD9648;
}
body.orange main section .primary-div-right .image-container {
  box-shadow: inset 0 0 8px #FD9648;
}
body.orange main section .li-separator {
  border: 0.5px solid #FED1AE;
}

main {
  margin-left: auto;
  margin-right: auto;
  background-color: #EDEDED;
  font-family: "Cormorant Garamond", serif;
}
main > section {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: relative;
}
main > section > div:nth-of-type(2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 3vw 3vw;
  background-color: #EDEDED;
  box-shadow: 0 4px 16px #EDEDED;
}
main > section > div:nth-of-type(2) h5 {
  font-style: normal;
  font-size: 1.5rem;
}
main > section > div:nth-of-type(2) > ul {
  font-size: 1.3rem;
  font-weight: 500;
  font-style: italic;
}
main > section > div:nth-of-type(2) > ul > li > span {
  font-weight: bold;
}
main > section > div:nth-of-type(2) ol {
  padding-bottom: 1.5rem;
  font-weight: 500;
}
main > section > div:nth-of-type(2) ol li {
  padding-top: 0.1rem;
  font-size: 1.4rem;
  font-style: italic;
}
main > section .li-separator {
  display: block;
  margin-bottom: 0.2rem;
  border-radius: 50%;
}

main > section:nth-of-type(1) > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #EDEDED;
}
main > section:nth-of-type(1) > div:nth-of-type(2) > div {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 1rem;
}
main > section:nth-of-type(1) > div:nth-of-type(2) > div > p {
  width: 100%;
  max-width: 25rem;
  font-size: 1.5rem;
}
main > section:nth-of-type(1) > div:nth-of-type(2) > div > span {
  display: block;
  height: 1rem;
  width: 100%;
  max-width: 25rem;
  margin-top: 0.5rem;
}
main > section > .primary-div-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
  padding-top: 2rem;
}
main > section > .primary-div-right > div:nth-of-type(1) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
}
main > section > .primary-div-right > div:nth-of-type(1) .text-container {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  min-height: 1rem;
  max-width: 62vw;
  width: 18rem;
}
main > section > .primary-div-right > div:nth-of-type(1) .text-container h4 {
  font-size: 1.8rem;
}
main > section > .primary-div-right > div:nth-of-type(1) .text-container > div, main > section > .primary-div-right > div:nth-of-type(1) .text-container > p {
  display: block;
  margin-top: 4rem;
  max-width: 60vw;
  width: 20rem;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  color: #EDEDED;
  border-radius: 1rem;
}
main > section > .primary-div-right > div:nth-of-type(1) .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 20rem;
  width: 20rem;
  position: relative;
  top: 5%;
  margin-bottom: 1rem;
  background-color: #EEEEEE;
  border-radius: 1rem;
}
main > section > .primary-div-right > div:nth-of-type(1) .image-container img {
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  position: relative;
  top: 10%;
  right: 10%;
  border-radius: 1rem;
  box-shadow: 0 0 16px #141E27;
}
main > section > .primary-div-right > div:nth-of-type(2) {
  display: flex;
  height: 7.4rem;
  justify-content: center;
  width: 100%;
  position: relative;
}
main > section > .primary-div-right > div:nth-of-type(2) h2, main > section > .primary-div-right > div:nth-of-type(2) h3 {
  width: 50%;
  position: absolute;
  margin-left: 40vw;
  text-align: center;
  color: #EDEDED;
}
main > section > .primary-div-right > div:nth-of-type(2) h3 {
  margin-top: 3.9rem;
  font-size: 3.5rem;
}
main > section > .primary-div-right > div:nth-of-type(2) h2 {
  margin-top: 2.9rem;
  font-size: 4.5rem;
}

main > section > .primary-div-left {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
  padding-top: 2rem;
}
main > section > .primary-div-left > div:nth-of-type(1) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
}
main > section > .primary-div-left > div:nth-of-type(1) .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 20rem;
  width: 20rem;
  position: relative;
  top: 5%;
  margin-bottom: 1rem;
  margin-right: 15vw;
  background-color: #EEEEEE;
  border-radius: 1rem;
}
main > section > .primary-div-left > div:nth-of-type(1) .image-container img {
  height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 10%;
  left: 10%;
  border-radius: 1rem;
  box-shadow: 0 0 16px #141E27;
}
main > section > .primary-div-left > div:nth-of-type(1) #option-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: relative;
  height: 5rem;
  width: 14rem;
  margin: 10vh 0vw 0 0;
  border-radius: 1rem;
}
main > section > .primary-div-left > div:nth-of-type(1) #option-container .quantity-text {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
main > section > .primary-div-left > div:nth-of-type(1) #option-container .quantity-text > p {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #EDEDED;
}
main > section > .primary-div-left > div:nth-of-type(1) #option-container .quantity-option {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 20%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
main > section > .primary-div-left > div:nth-of-type(1) #option-container .quantity-option > button {
  height: 50%;
  width: 100%;
  padding-bottom: 0.3rem;
  background-color: inherit;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
}
main > section > .primary-div-left > div:nth-of-type(1) #option-container .quantity-option > button:nth-of-type(1) {
  border-top-left-radius: 1rem;
}
main > section > .primary-div-left > div:nth-of-type(1) #option-container .quantity-option > button:nth-of-type(2) {
  border-bottom-left-radius: 1rem;
}
main > section > .primary-div-left > div:nth-of-type(1) #option-container .quantity-option > button:hover {
  color: #EDEDED;
}
main > section > .primary-div-left > div:nth-of-type(2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 7.4rem;
  width: 100%;
  position: relative;
}
main > section > .primary-div-left > div:nth-of-type(2) h3 {
  width: 80%;
  position: absolute;
  margin-top: 3.9rem;
  margin-right: 40vw;
  text-align: center;
  font-size: 3.5rem;
  color: #EDEDED;
}

@media screen and (min-width: 1280px) {
  main > section .primary-div-right > div:nth-of-type(1) .image-container {
    left: 8%;
  }
  main > section .primary-div-left > div:nth-of-type(1) .image-container {
    right: 5%;
  }
  main > section > div:nth-of-type(2) {
    padding: 3vw 12vw;
  }
}
@media only screen and (max-width: 600px) {
  main > section .primary-div-right {
    flex-flow: column-reverse nowrap;
    justify-content: center;
    padding-top: 1rem;
  }
  main > section .primary-div-right > div:nth-of-type(1) {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
  }
  main > section .primary-div-right > div:nth-of-type(1) .image-container {
    height: 18rem;
    width: 18rem;
    margin: 0 0 1rem 2rem;
  }
  main > section .primary-div-right > div:nth-of-type(1) .image-container img {
    height: 18rem;
    top: 10%;
    right: 10%;
  }
  main > section .primary-div-right > div:nth-of-type(1) .text-container {
    min-width: 0;
    max-width: 100%;
    width: 80%;
    margin-top: 2rem;
  }
  main > section .primary-div-right > div:nth-of-type(1) .text-container p {
    width: 100%;
  }
  main > section .primary-div-right > div:nth-of-type(2) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main > section .primary-div-right > div:nth-of-type(2) h2, main > section .primary-div-right > div:nth-of-type(2) h3 {
    width: 80%;
    position: relative;
    margin: 0 0 1rem 0;
    color: #EDEDED;
    text-shadow: 0 0 3px #EDEDED;
  }
  main > section .primary-div-right > div:nth-of-type(2) h3 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
  }
  main > section .primary-div-right > div:nth-of-type(2) h2 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
  }
  main > section .primary-div-left {
    flex-flow: column-reverse nowrap;
    justify-content: center;
  }
  main > section .primary-div-left > div:nth-of-type(1) {
    flex-flow: column nowrap;
    justify-content: center;
  }
  main > section .primary-div-left > div:nth-of-type(1) .image-container {
    height: 18rem;
    width: 18rem;
    margin: 0 2rem 1rem 0;
  }
  main > section .primary-div-left > div:nth-of-type(1) .image-container img {
    height: 18rem;
    top: 10%;
    left: 10%;
  }
  main > section .primary-div-left > div:nth-of-type(1) #option-container {
    margin: 2rem 0 1rem 0;
  }
  main > section .primary-div-left > div:nth-of-type(2) {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  main > section .primary-div-left > div:nth-of-type(2) h3 {
    width: 100%;
    position: relative;
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    text-shadow: 0 0 3px #EDEDED;
  }
  main > section > div:nth-of-type(2) {
    flex-flow: column nowrap;
  }
}
@media screen and (max-width: 300px) {
  main > section .primary-div-right > div:nth-of-type(1) .image-container {
    height: 13rem;
    width: 13rem;
  }
  main > section .primary-div-right > div:nth-of-type(1) .image-container img {
    height: 13rem;
  }
  main > section .primary-div-left > div:nth-of-type(1) .image-container {
    height: 13rem;
    width: 13rem;
  }
  main > section .primary-div-left > div:nth-of-type(1) .image-container img {
    height: 13rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  main section:nth-of-type(1) .primary-div-right > div:nth-of-type(1) .image-container {
    right: 4%;
  }
  main section:nth-of-type(1) .primary-div-right > .title-container h2 {
    width: 80%;
    position: relative;
    margin-left: 0;
  }
  main section:nth-of-type(1) .primary-div-left > div:nth-of-type(1) .image-container {
    left: 4%;
  }
}

body {
  font-family: "Cormorant Garamond", serif;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 4rem;
  width: 100%;
  background-color: #141E27;
  color: #EEEEEE;
}
header h1 {
  display: flex;
  margin-top: 0.8rem;
  margin-left: 4rem;
  justify-content: center;
}
header > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}
header > div div {
  font-size: 1.25rem;
  margin: 1rem;
  color: #EEEEEE;
}
header > div div .nav-link {
  text-decoration: none;
  color: #EEEEEE;
}
@media screen and (max-width: 1280px) {
  header h1 {
    margin-left: 0;
  }
  header > div {
    margin-right: 0;
  }
}

footer {
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 100%;
  background-color: #203239;
  color: #EEEEEE;
}
footer > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  font-size: 1.25rem;
  width: 15%;
}
footer > div .nav-link {
  text-decoration: none;
  color: #EEEEEE;
}

@media only screen and (max-width: 481.6px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  header > div {
    justify-content: center;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}/*# sourceMappingURL=styles.css.map */