main section:nth-of-type(1) {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
main section:nth-of-type(1) > div {
  padding-top: 5rem;
  min-height: auto;
}
main section:nth-of-type(1) > div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 1rem;
}
main section:nth-of-type(1) > div div img {
  flex: 0 0 10rem;
  width: 59vw;
  border-radius: 1rem;
}
main section:nth-of-type(1) > div div h2 {
  color: #EEEEEE;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Cormorant", serif;
  font-size: 3.2rem;
  width: 100%;
  text-shadow: 1px 1px #141E27;
  margin-bottom: 250px;
}
main section:nth-of-type(2) {
  flex-flow: column;
}
main section:nth-of-type(2) > div > div {
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px rgb(172, 172, 172);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEEEE;
}
main section:nth-of-type(2) > div > div img {
  align-self: center;
  min-height: 30vw;
  width: 40%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
main section:nth-of-type(2) > div > div div {
  align-self: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
main section:nth-of-type(2) > div > div div ul {
  font-family: "Cormorant", serif;
  font-size: 1.2rem;
  font-style: italic;
  align-self: center;
}
main section:nth-of-type(3) > div > div {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px rgb(172, 172, 172);
  background-color: #EEEEEE;
  font-size: 1.1rem;
  padding: 0.6rem 0.6rem 1.1rem 0.6rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
main section:nth-of-type(3) > div > div ol {
  padding-bottom: 1.5rem;
}
main section:nth-of-type(3) > div > div ol li {
  font-size: 1.2rem;
  font-style: italic;
  padding-top: 0.1rem;
}
main section {
  background-color: rgb(112, 31, 29);
  display: flex;
}
main section > div {
  background-color: #EEEEEE;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
main section h3 {
  font-size: 1.4rem;
}
main .section-separator {
  box-shadow: 0px 0px 8px rgb(172, 172, 172);
  flex: 0 0 4rem;
  display: block;
  height: 0.8rem;
  background-color: rgb(154, 4, 2);
  margin: 5rem 30rem;
}
main .li-separator {
  display: block;
  border: 0.5px solid black;
  border-radius: 50%;
  margin-bottom: 0.2rem;
}

body {
  font-family: "Cormorant", serif;
}

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: #141E27;
  color: #EEEEEE;
}
header h1 {
  margin-top: 0.8rem;
  margin-left: 4rem;
  justify-content: flex-start;
}
header > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header > div div {
  font-size: 20px;
  color: #EEEEEE;
  margin: 1rem;
}

footer {
  background-color: #203239;
  color: #EEEEEE;
  height: 4rem;
  display: flex;
  justify-content: center;
}
footer > div {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}/*# sourceMappingURL=styles.css.map */