body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EDEDED;
}
body main {
  display: flex;
  align-content: center;
  justify-content: center;
}
body main article form {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
  min-width: 60vw;
  max-width: 80vw;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  box-shadow: 0 0 16px #CBCBCB;
}
body main article form input, body main article form option, body main article form textarea, body main article form select {
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  border: 0;
}
body main article form input, body main article form textarea, body main article form select {
  margin-bottom: 0.5rem;
  box-shadow: 0 0 4px #94BCEB;
  border-radius: 0.5rem;
}
body main article form input[type=number] {
  width: 3.5rem;
}
body main article form select[name=theme], body main article form select[name=unit] {
  width: 7rem;
}
body main article form input[name=origin] {
  width: 11rem;
}
body main article form textarea {
  resize: vertical;
}
body main article form section {
  width: 100%;
  padding: 1rem;
}
body main article form > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 5vh;
  width: 100%;
  border-bottom: 1px solid #34535e;
}
body main article form > div:nth-of-type(1) h2 {
  font-size: 2rem;
}
body main article form > section:nth-of-type(1) {
  display: flex;
  flex-flow: column wrap;
}
body main article form > section:nth-of-type(1) > div:nth-of-type(1) {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  padding: 0.5rem;
}
body main article form > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {
  display: flex;
  flex-flow: row wrap;
  width: 30%;
}
body main article form > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > label {
  width: 60%;
}
body main article form > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > input {
  height: 0.8rem;
  width: 0.8rem;
  margin-top: 0.2rem;
}
body main article form > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
  width: 30%;
  margin-top: 0.5rem;
}
body main article form > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) input[name=quantity] {
  height: 1.4rem;
}
body main article form > section:nth-of-type(1) #background-info, body main article form > section:nth-of-type(1) #images {
  display: flex;
  flex-flow: column nowrap;
}
body main article form > section:nth-of-type(1) #recipes {
  height: 100%;
}
body main article form > section:nth-of-type(2) {
  display: flex;
  justify-content: space-evenly;
}
body main article form > section:nth-of-type(2) > div {
  padding: 0.5rem;
}
body main article form > section:nth-of-type(2) > div:nth-of-type(1) > ul > li input[name=unit] {
  width: 2rem;
}
body main article form > section:nth-of-type(2) > div:nth-of-type(2) .button-container {
  margin-left: -0.5rem;
}
body main article form > section:nth-of-type(2) > div:nth-of-type(3) .button-container {
  margin-left: -1rem;
}
body main article form > section:nth-of-type(2) ul, body main article form > section:nth-of-type(2) ol {
  padding-left: 1rem;
}
body main article form > div:nth-of-type(2) {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 15%;
  width: 100%;
  position: relative;
  border-top: 1px solid #34535e;
}
body main article form > div:nth-of-type(2) > p {
  height: 30%;
  width: 30%;
  position: relative;
  left: 70%;
  color: #d1232f;
  font-size: 1rem;
  font-weight: bold;
}
body main article form > div:nth-of-type(2) input[type=submit] {
  width: 20%;
  margin: 1rem auto;
  border: 1px solid #3E87DA;
  border-radius: 0.5rem;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  font-weight: bold;
}
body main article form > div:nth-of-type(2) input[type=submit]:hover {
  color: #EDEDED;
  background-color: #3E87DA;
}
body main article form .required {
  color: #d1232f;
}
body main article form .plus {
  color: #3E87DA;
  box-shadow: 0 0 4px #3E87DA;
}
body main article form .plus:hover {
  color: #EDEDED;
  background-color: #3E87DA;
}
body main article form .minus {
  color: #d1232f;
  box-shadow: 0 0 4px #d1232f;
}
body main article form .minus:hover {
  color: #EDEDED;
  background-color: #d1232f;
}

.button, body main article form .plus, body main article form .minus {
  height: 1.8rem;
  width: 1.8rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #EDEDED;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.button-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  left: 90%;
}

body {
  font-family: "Cormorant Garamond", serif;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 4rem;
  width: 100%;
  background-color: #141E27;
  color: #EEEEEE;
}
header h1 {
  display: flex;
  margin-top: 0.8rem;
  margin-left: 4rem;
  justify-content: center;
}
header h1 > a {
  text-decoration: none;
  color: #EEEEEE;
}
header > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
}
header > div div {
  font-size: 1.25rem;
  margin: 1rem;
  color: #EEEEEE;
}
header > div div .nav-link {
  text-decoration: none;
  color: #EEEEEE;
}
@media screen and (max-width: 600px) {
  header h1 {
    margin-left: 0;
  }
  header > div {
    margin-right: 0;
  }
}

footer {
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 100%;
  background-color: #203239;
  color: #EEEEEE;
}
footer > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  font-size: 1.25rem;
  width: 15%;
}
footer > div .nav-link {
  text-decoration: none;
  color: #EEEEEE;
}

@media only screen and (max-width: 481.6px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  header > div {
    justify-content: center;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}/*# sourceMappingURL=styles.css.map */