$black: #141E27;
$blue: #34535e;
$brown: #9f9466;
$red: #953c3c;
$white: #EEEEEE;

header {
    position: relative;
    box-shadow: 0 0 16px $black;
    z-index: 2;
}
main {
    color: $white;
    position: relative;
    font-family: "Cormorant Garamond", serif;
    > div:first-of-type {
        background: $red;
        div {
            background-image:url("../../images/the-best-top-10-indian-dishes.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            padding: 4.5rem 3rem;
            h1 {
                font-size: 10vw;
                text-shadow: 1px 1px black;
            }
        }
    }
    .aboutUs {
        position: relative;
        box-shadow: 0 0 16px $red;
        height: 25rem;
        width: 100%;
        background-color: $red;
        text-align: center;
        padding: 8vw 5rem;
        h2 {
            margin-bottom: 1rem;
        }
    }
    ul {
        padding: 5rem;
        background-color: $white;
        width: 100%;
        min-height: 33.75rem;
        form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 1;
            justify-content: center;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            li {
                margin: 0.5rem;
                display: flex;
                button {
                    position: relative;
                    border: none;
                    background-color: $white;
                    border-radius: 1rem;
                    height: 15rem;
                    width: 15rem;
                    img {
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        object-fit: cover;
                        width: 100%;
                        height: 15rem;
                        border-radius: 1rem;
                        background-color: $white;
                    }  
                    div {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        height: 15rem;
                        width: 14.4rem;
                        transform: translate(-50%, -50%);
                        display: flex;
                        border-radius: 1rem;
                        justify-content: center;
                        cursor: pointer;
                        h3 {
                            display: none;
                            font-family: "Cormorant Garamond", serif;
                            padding-top: 2rem;
                            font-size: 3rem;
                            color: $white;
                            font-weight: 600;
                        }
                    }
                    div:hover {
                        backdrop-filter: blur(0.2rem);
                        h3 {
                            display: block;

                        }
                    }
                }   
            }     
        }
    }
}
footer {
    position: relative;
    box-shadow: 0 0 16px $blue;
}
@media only screen and (max-width: 481.6px) {
    main {
        .aboutUs {
            height: 30rem;
        }
    }
}